<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xin.banghua.moyuan">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Main4Branch.FabutieziActivity"></activity>
        <activity android:name=".introduction.IntroductionAlbumActivity" />
        <activity
            android:name=".introduction.IntroductionVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".introduction.IntroductionActivity" />
        <activity android:name=".Main5Branch.SoundActivity" />
        <activity
            android:name=".Main3Branch.ConversationSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SliderWebViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Branch.BlackListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Main4Branch.InformReasonActivity" />
        <activity
            android:name=".Main5Branch.HelpCenter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main5Branch.SomeonesluntanActivity"
            android:theme="@style/AppTheme.ActionBar.Show" />
        <activity
            android:name=".Personage.Someonesluntan1Activity"
            android:theme="@style/AppTheme.ActionBar.Show" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="xin.banghua.moyuan"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Main5Branch.BuyvipActivity"
            android:parentActivityName=".Main5Activity"
            android:theme="@style/AppTheme.ActionBar.Show" />
        <activity android:name=".Signin.FindPasswordActivity" />
        <activity android:name=".Main5Branch.CommonSettingActivity" />
        <activity android:name=".Main5Branch.PrivateSettingActivity" />
        <activity android:name=".Main4Branch.FabugentieActivity" />
        <activity android:name=".Main4Branch.PostListActivity" />
        <activity android:name=".Main5Branch.ResetActivity" />
        <activity
            android:name=".Main5Branch.SawMeActivity"
            android:parentActivityName=".Main5Activity"
            android:theme="@style/AppTheme.ActionBar.Show" />
        <activity
            android:name=".Main5Branch.CircleActivity"
            android:parentActivityName=".Main5Activity"
            android:theme="@style/AppTheme.ActionBar.Show" />
        <activity
            android:name=".Main2Branch.NewFriend"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Personage.PersonageActivity"
            android:theme="@style/AppTheme.ActionBar.Show" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signin.Userset" />
        <activity android:name=".Signin.SignupActivity" />
        <activity android:name=".Signin.SigninActivity" />
        <activity
            android:name=".Main5Activity"
            android:label="@string/title_activity_main5" />
        <activity
            android:name=".Main4Activity"
            android:label="@string/title_activity_main4" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3" />
        <activity
            android:name=".Main2Activity"
            android:label="通讯录"
            android:theme="@style/AppTheme.ActionBar.Show" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="xin.banghua.moyuan"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity> <!-- 会话列表 -->
        <activity
            android:name=".ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="xin.banghua.moyuan"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity> <!-- 会话界面 -->
        <activity
            android:name="io.rong.callkit.MultiVideoCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.MULTIVIDEO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.callkit.SingleCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.SINGLEVIDEO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.SINGLEAUDIO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.callkit.MultiAudioCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.MULTIAUDIO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="io.rong.callkit.CallSelectMemberActivity" />
        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
        <!-- 高德地图 < -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b8907083bc6234baa56cadded2105143" />
        <!-- 小米 配置开始 < -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="101234849" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name=".MyFileProvider"
            android:authorities="xin.banghua.moyuan.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider> <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="xin.banghua.moyuan.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" /> <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.mi.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver> <!-- 小米 配置结束 < -->
        <receiver android:name="io.rong.push.platform.hms.HMSReceiver">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver> <!-- BridgeActivity定义了HMS-SDK中一些跳转所需要的透明页面 -->
        <receiver android:name="io.rong.push.platform.meizu.MeiZuReceiver">
            <intent-filter>

                <!-- 接收 push 消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收 register 消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收 unregister 消息 -->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本 Flyme3 推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="xin.banghua.moyuan" />
            </intent-filter>
        </receiver> <!-- &lt;!&ndash; 解决华为移动服务升级问题的透明界面（必须声明）&ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="com.huawei.android.hms.agent.common.HMSAgentActivity" -->
        <!-- android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:exported="false" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:theme="@android:style/Theme.Translucent" > -->
        <!-- <meta-data -->
        <!-- android:name="hwc-theme" -->
        <!-- android:value="androidhwext:style/Theme.Emui.Translucent" /> -->
        <!-- </activity> -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" /> <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!-- MeiZu 配置开始 < -->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- MeiZu 配置结束 < -->
        <!-- oppo 配置 -->
        <service
            android:name="com.coloros.mcssdk.PushService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>
    </application>
    <permission
        android:name="xin.banghua.moyuan.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <permission
        android:name="xin.banghua.moyuan.push.permission.MESSAGE"
        android:protectionLevel="signature" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 小米 配置开始 < -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 小米 配置结束 < -->
    <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> <!-- MeiZu 配置开始 < -->
    <!-- 兼容 flyme5.0 以下版本，魅族内部集成 pushSDK 必填，不然无法收到 消息 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 兼容 flyme3.0 配置权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- MeiZu 配置结束 < -->
    <!-- oppo 配置 -->
    <uses-permission android:name="xin.banghua.moyuan.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
    <uses-permission android:name="xin.banghua.moyuan.push.permission.MESSAGE" />
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />

    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />

</manifest>